<div class="detail" >
{{error}}
<h3>DETAILS:</h3>
<b>${{apartment.rent}} per month</b><br>
{{apartment.address}}<br>
{{apartment.city}}, {{apartment.state}} {{apartment.zip_code}}
    <ul>
        <li>Square Footage: {{apartment.square_footage}}</li>
        <li>Number of Bathrooms: {{apartment.number_of_bathrooms}}</li>
        <li>Number of Bedrooms: {{apartment.number_of_bedrooms}}</li>
    </ul>
<button *ngIf="currentUser && currentUser.id == apartment.user_id && apartment.is_active" (click)="clickDeactivate()" >Deactivate</button>
<button *ngIf="currentUser && currentUser.id == apartment.user_id && !apartment.is_active" (click)="clickActivate()">Activate</button>
</div>


