<h1>Weight Tracker</h1>
<div>
  <form (submit)="createEntry()">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Bodyweight</th>
          <th>Average BW</th>
          <th>&Delta; BW</th>
          <th>Body Fat</th>
          <th>&Delta; Body Fat</th>
          <th>Body Comp Goal</th>
          <th>Macros</th>
          <th>Carb Cycling?</th>
          <th>Training Program</th>
          <th>Comments</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input label="date" required type="date" name="date" [(ngModel)]="date" placeholder="mm/dd/yy"></td>
          <td><input  type="number" name="bodyweight" [(ngModel)]="bodyweight"required></td>
          <td> <input type="number" name="avgBodyweight" [(ngModel)]="avgBodyweight"></td>
          <td><input type="number" name="changeBodyweight" [(ngModel)]="changeBodyweight"></td>
          <td><input type="number" name="bodyfat" [(ngModel)]="bodyfat"></td>
          <td> <input type="number" name="changeBodyfat" [(ngModel)]="changeBodyfat"></td>
          <td> <select  name="bodyCompGoal" [(ngModel)]="bodyCompGoal" required>
                <option value="fatLoss">Fat Loss</option>
                <option value="maintenance">Maintenance</option>
                <option value="leanBulk">Lean-Bulk</option>
                <option value="bulk">Bulk</option>
                <option value="reverseDiet">Reverse Diet</option>
                </select></td>
          <td><input  type="text" name="macros" [(ngModel)]="macros" placeholder="195P/480C/135F (3915)" required></td>
          <td>
            <select name="carbCycling" [(ngModel)]="carbCycling" required>
              <option value="yes">Yes</option>
              <option value="no" selected>No</option>
            </select></td>
          <td><input type="text" name="trainingProgram" [(ngModel)]="trainingProgram" placeholder="5 Day Week Summmer Cut" required></td>
          <td> <input type="text" name="comments" [(ngModel)]="comments"></td>
        </tr>
        <tr>
          <div><br></div>
        </tr>
          <tr  *ngFor="let weight of weightHistory">
            <td>{{weight.date}}</td>
            <td>{{weight.bodyweight}}</td>
            <td>{{weight.avgBodyweight}}</td>
            <td>{{weight.changeBodyweight}}</td>
            <td>{{weight.bodyfat}}%</td>
            <td>{{weight.changeBodyfat}}%</td>
            <td>{{weight.bodyCompGoal}}</td>
            <td>{{weight.macros}}</td>
            <td>{{weight.carbCycling}}</td>
            <td>{{weight.trainingProgram}}</td>
            <td>{{weight.comments}}</td>
          </tr>
      
      </tbody>
    </table>
    <button>Add</button>
  </form>
</div>
